/* Reseta estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header, main, footer {
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin: 10px 0;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  color: #555;
}

button {
  padding: 10px 20px;
  background-color: #4285F4;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ae8;
}

footer p {
  font-size: 0.9em;
  color: #888;
}
